<!-- <header class="admin-header">
    <div class="container">
        <div class="logo">
            <a routerLink="/admin-home">
                <img src="assets/aisleguide-logo.png" alt="AisleGuide Logo" class="logo-image">
            </a>
        </div>

        <nav class="navigation">
            <ul class="nav-links">
                <li><a routerLink="/admin-home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/admin-create" routerLinkActive="active">Create</a></li>
                <li><a routerLink="/admin-profile" routerLinkActive="active">Profile</a></li>
            </ul>
        </nav>
    </div>
</header> -->

<header class="admin-header">
    <div class="container">
        <div class="logo">
            <a routerLink="/admin-home">
                <img src="assets/aisleguide-logo.png" alt="AisleGuide Logo" class="logo-image">
            </a>
        </div>

        <!-- Hamburger menu - vizibil doar pe mobile -->
        <div class="menu-toggle" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <nav class="navigation" [class.active]="menuOpen">
            <ul class="nav-links">
                <li><a routerLink="/admin-home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/admin-create" routerLinkActive="active">Create</a></li>
                <li><a routerLink="/admin-profile" routerLinkActive="active">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>