<form [formGroup]="forgotForm">
    <div class="form-group input-group-row">
        <label for="email">Email</label>
        <div class="input-button-group">
            <input id="email" type="email" formControlName="email" class="form-control" />
            <button type="button" class="btn-action" (click)="sendValidationCode()"
                [disabled]="!forgotForm.get('email')?.valid || loading">
                Send Code
            </button>
        </div>
    </div>

    <div class="form-group input-group-row">
        <label for="code">Validation Code</label>
        <div class="input-button-group">
            <input id="code" type="text" formControlName="code" class="form-control" />
            <button type="button" class="btn-action" (click)="validateCode()" [disabled]="loading || codeValidated">
                Validate
            </button>
        </div>
    </div>

    <div class="form-group" *ngIf="codeValidated">
        <label for="newPassword">New Password</label>
        <input id="newPassword" type="password" formControlName="newPassword" class="form-control" />
    </div>

    <div class="form-group" *ngIf="codeValidated">
        <label for="confirmPassword">Confirm New Password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
    </div>

    <div class="form-buttons">
        <button type="button" (click)="updatePassword()" class="btn-primary"
            [disabled]="loading || !codeValidated">Update Password</button>
        <button type="button" (click)="navigateToLogin()" class="btn-register">Back to login</button>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</form>