<form>
    <div class="form-group">
        <label for="email">Email</label>
        <input #emailInput type="text" id="email" name="email" required>
        <br>
        <label for="password">Password</label>
        <input #passwordInput type="password" id="password" name="password" required>
        <br>
        <button type="button" [disabled]="loading" (click)="login(emailInput.value, passwordInput.value)">
            @if(loading) {
            <span>Processing...</span>
            } @else {
            <span>Login</span>
            }
        </button>
    </div>

    @if(errorMessage){
    <div class="error-message">
        {{ errorMessage }}
    </div>
    }

    @if(successMessage){
    <div class="success-message">
        {{ successMessage }}
    </div>
    }
</form>